*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #002339;
    color: #fff;
}
.container{
    width: 90%;
    max-width: 700px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 700px;
    height: 100vh;
    margin: auto;
    padding: 0 40px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 10px;
}
.container h1{
    font-weight: 500px;
    font-size: 45px;
}
.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 5px;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
.container button img{
    width: 28px;
    margin-right: 10px;
}
.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
}

@media only screen and (max-width: 700px){
    .container {
        /* width: min-content; */
        width: 95%;
        height: 100vh;
        justify-content: center;
        overflow: hidden;
        padding: 0 10px;
    }
    .container h1 {
        font-size: 32px;
        font-weight: none;
    }
    .container button {
        width: 100%;
    }
    .container .display {
        width: 100%;
        justify-content: space-around;
    }
    .container input {
        width: 90%;
    }
}